.more-btn {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem; /* 116.667% */
  letter-spacing: 0.23438rem;
  text-transform: uppercase;

  width: 7.1875rem;
  padding: 0.19rem 0.25rem 0.25rem 1.06rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-style: none;
  border-radius: 28px;
}
