#root.light {
  --bg-image: url("../public/mobile/bg-image-daytime.jpg");
  --color-footer: hsla(0, 0%, 19%, 1);
  --color-footer-bg: hsla(0, 0%, 100%, 0.75);
}

#root.dark {
  --bg-image: url("../public/mobile/bg-image-nighttime.jpg");
  --color-footer: hsla(0, 0%, 100%, 1);
  --color-footer-bg: hsla(0, 0%, 0%, 0.75);
}

#root {
  --text-color: hsla(0, 0%, 100%, 1);
  --fonts: "Inter Variable", sans-serif;

  color: var(--text-color);
  font-family: var(--fonts);
  min-height: 100svh;
  background: no-repeat center/cover var(--bg-image);
}

.container {
  padding: 2rem 1.6rem 2.5rem 1.62rem;
}

.footer {
  color: var(--color-footer);
  background-color: var(--color-footer-bg);
}
